name: "Publish every Git push to main to FlakeHub"
on:
  push:
    branches:
      - "main"
    paths:
      - "**/*.nix"
      - "flake.lock"
jobs:
  flakehub-publish:
    runs-on: "ubuntu-latest"
    permissions:
      id-token: "write"
      contents: "read"
    steps:
      - uses: "actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd" # v6
        with:
          persist-credentials: false
      - uses: "DeterminateSystems/determinate-nix-action@73327eb48f028efaaf5013656ba216ca3cdeca7b" # v3
      - uses: "DeterminateSystems/flakehub-push@2dfc76cb508897b15628310c1b0b5699bddd117a" # main
        with:
          name: "adampie/opt-out"
          rolling: true
          visibility: "public"
          include-output-paths: true
